div.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.83);
    height: 60px;
    padding: 0 50px 0 50px;
}

div.header-main div:first-child{
    display: flex;
    justify-content:center;
    align-items: center;
}

div.header-main div:first-child span{
    color: rgb(43, 217, 217);
    font-weight: bold;
    font-size: 20px;
}

div.header-main div:nth-child(2) ul{
    display: flex;
}

div.header-main div:last-child ul{
    display: flex;
}

div.header-main div:nth-child(2) ul li, div.header-main div:last-child ul li{
    list-style-type: none;
    padding: 15px;
}

div.header-main div:nth-child(2) ul li a, div.header-main div:last-child ul li a{
    text-decoration: none;
    color:aliceblue;
}


