div.main{
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.83);
    height: 50px;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
}

div.main span:first-child{
    color: white;
}

div.main span:nth-child(2){
    padding-left: 5px;
    color:rgb(43, 217, 217);
}