div.FirstComponent{
    padding-top: 200px;
    background: rgba(0, 0, 0, 0.83);
    z-index: 1;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.FirstComponent p:first-child{
    color: rgb(43, 217, 217);
    font-weight: bold;
    font-size: 50px;
}

div.FirstComponent p:nth-child(2){
    color:aliceblue;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-top: -40px;
}

div.FirstComponent div button{
    background: rgb(43, 217, 217);
    height: 50px;
    padding: 0px 20px;
    font-size: 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

div.FirstComponent div button:hover{
    background: whitesmoke;
}

div.FirstComponent div a{
    color: rgb(43, 217, 217);
    padding: 0px 20px;
    font-size: 20px;
    text-decoration: none;

}

div.FirstComponent div a:hover{
    color: whitesmoke;
    padding: 0px 20px;
    font-size: 20px;
    text-decoration: none;

}